.colors-blue {
    background-color: #797EF6;
}

.colors-red {
    background-color: #E63B60;
}

.colors-yellow {
    background-color: #FFE45C;
}

.colors-lightblue {
    background-color: #A5DEF2;
}

.colors-purple {
    background-color: #A202FF;
}